<!DOCTYPE html>

<div class = "table table-striped table-hover contact-table">
 <span id="table-heading">Your Contacts</span>
 <div class="contact-holder contact-holder-heading">
       <div class="contact-edit-input">First Name</div>
       <div class="contact-edit-input">Last Name</div>
       <div class="contact-edit-input">Email</div>
       <div class="contact-edit-input">Phone Number</div>
       <div class="contact-edit-input">Twitter</div>
       <div class="contact-edit-input">LinkedIn</div>
 </div>
<div class="list-holder">

</div>
</div>
