<!DOCTYPE html>
<input type="text" name="f_name" value="" placeholder="First Name">
<input type="text" name="l_name" value="" placeholder="Last Name">
<input type="text" name="email" value="" placeholder="Email">
<input type="text" name="phone" value="" placeholder="Telephone">
<input type="text" name="gh_name" value="" placeholder="GitHub Name">
<input type="text" name="slack_name" value="" placeholder="Slack ID">
<button type="submit" name="submit">Add Contact</button>
{{!-- repeater field to add more with you own definition --}}
