<!DOCTYPE html>

  <div class="form-group contact-input-containers">
    <label for="first-name" class="col-sm-2 control-label"><i class="fa fa-user"></i> First Name</label>
    <div class="col-sm-8">
      <input type="text" name="first-name" class="form-control" id="first-name" placeholder="First Name">
    </div>
  </div>
  <div class="form-group contact-input-containers">
    <label for="last-name" class="col-sm-2 control-label"><i class="fa fa-user"></i> Last Name</label>
    <div class="col-sm-8">
      <input type="text" name="last-name" class="form-control" id="last-name" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group contact-input-containers">
    <label for="email" class="col-sm-2 control-label"><i class="fa fa-envelope-o"></i> Email</label>
    <div class="col-sm-8">
      <input type="email" name="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group contact-input-containers">
    <label for="phone" class="col-sm-2 control-label"><i class="fa fa-mobile"></i> Phone Number</label>
    <div class="col-sm-8">
      <input type="tel" name="phone" class="form-control" id="phone" placeholder="Phone Number">
    </div>
  </div>
  <div class="form-group contact-input-containers">
    <label for="twitter" class="col-sm-2 control-label"><i class="fa fa-twitter"></i> Twitter</label>
    <div class="col-sm-8">
      <input type="text" name="twitter" class="form-control" id="twitter" placeholder="Twitter Username">
    </div>
  </div>
  <div class="form-group contact-input-containers">
    <label for="linked-in" class="col-sm-2 control-label"><i class="fa fa-linkedin"></i> LinkedIn</label>
    <div class="col-sm-8">
      <input type="text" name="linked-in" class="form-control" id="linked-in" placeholder="LinkedIn Username">
    </div>
  </div>
  <div class="form-group contact-input-containers add-contact-button-container">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-default add-contact-button">Add Contact</button>
    </div>
  </div>
{{!-- repeater field to add more with you own definition --}}
